src/main/app/products.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="productsFlow1" doc:name="productsFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" address="vm://productsorchestation" doc:name="VM"/>
        <choice doc:name="Choice">
            <when expression="#[payload.request.operation==1]">
                <component class="es.ual.itsi2016.pfcmini.products.CreateProduct" doc:name="Java"/>
            </when>
            <when expression="#[payload.request.operation==2]">
                <component class="es.ual.itsi2016.pfcmini.clients.ListClients" doc:name="Java"/>
            </when>
            <when expression="#[payload.request.operation==3]">
                <component class="es.ual.itsi2016.pfcmini.clients.DeleteClients" doc:name="Java"/>
            </when>
        </choice>
    </flow>
</mule>
